* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 75px;
background-color:cornsilk;
padding: 20px;
}
.projectCard{
    display: flex;
    flex-direction:column ;
    gap: 30px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #00000070;
    border-radius: 15px;
}