.contNav{
    width: 1420px;
    margin: 0 auto;
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    background-color:rgb(167, 145, 122);
    align-items: center;
}
.name{
    color: white;
    font-size: 28px;
}
.nav{
    display: flex;
    gap: 40px;
    color: whitesmoke;
}